# =========================
# Python cache & bytecode
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Documentation artifacts
# =========================
*.pdf